\name{Michael Darwish}
\address{123 Fake St. \linebreak Montreal, Quebec \linebreak Canada}
\contacts{(555) 123-4567 \linebreak \href{mailto:darwish.michael@gmail.com}{darwish.michael@gmail.com} \linebreak \href{https://www.linkedin.com/in/michael-darwish/}{linkedin.com/in/michael-darwish}}
